<launch>
  <rosparam file="$(find kitti360_helper)/config/kitti360.yaml" command="load" />
  <node name = "kitti360_helper" pkg = "kitti360_helper" type = "kitti360_helper" output = "screen" />

  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find kitti360_helper)/rviz/kitti360.rviz" />
  </group>

</launch>